body {
    font-family: "Monaco", sans-serif;
    display:flex;
    flex-direction: column;
    flex:1;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#title p {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.rubberGrip {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 851.11px;
    background-color: black;
    width: 25px;
}

#rubberGripLeft {
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}
#rubberGripRight {
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

#calc-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(176, 2, 2);

}

div#display {
    display: flex;
    flex: 1;
    justify-content: right;
    font-size: 62pt;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 110px;
    background-color:rgb(164, 164, 164);
    margin-top: 50px;
    margin-bottom: 50px
}

div#display p {
    margin: 10px 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

button {
    font-size: 42pt;
    padding: 10px 0 10px 0;
    margin: 10px;
    width: 150px;
    background-color: black;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 20px;
    justify-content: center;
}


/* #firstRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#secondRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#thirdRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fourthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fifthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    align-items: center;
    justify-content: flex-end;
} */