body {
    font-family: "Monaco", sans-serif;
    display:flex;
    flex-direction: column;
    flex:1;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}


#title {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#title p {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#rubber-grip-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    width: 25px;
    height: 875px;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;

}

#rubber-grip-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    width: 25px;
    height: 875px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

.rubber-grip-top, .rubber-grip-bottom {
    height: 10%;
}

.rubber-grip-mid {
    height: 80%;
}

#flip-top-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    height: 25px;
    padding-top: 25px;
}

#flip-top-button {
    align-items: center;
    display: block;
    line-height: 0;
    font-size: 0;
    margin: 0 45px 30px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: min-content;
}


#displayWrapper.closed #display {
    background-color: rgb(176, 2, 2);
    border: 1px dashed rgba(0,0,0,0.4);
}

#calc-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 875px;
    background-color: rgb(176, 2, 2);

}

#display-wrapper {
    position: relative;
    height: 160px;
    width: 650px;
    margin: auto;
}

#display, #display-cover, #display-slot {
    box-sizing: border-box;
}

div#display {
    position: relative;
    top: 50px;
    height: 110px;
    width: 100%;      
    background-color: rgb(164, 164, 164);
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
    /* font-size: 62pt; */
    z-index: 1;
}

@keyframes coverOpening {
    0% {height: 105%; opacity: 1;}
    99% {height: 1%; opacity: 1;}
    100% {height: 0%; opacity: 0;}
}

@keyframes coverClosing {
    0% {height: 0%; opacity: 0;}
    1% {height: 1%; opacity: 1;}
    100% {height: 105%; opacity: 1;}
}

@keyframes textSlideUp {
    from { transform: translateY(0); }
    to   { transform: translateY(-120px); }
}

@keyframes textSlideDown {
    from { transform: translateY(-120px); }
    to   { transform: translateY(0); }
}

div#display-cover {
    position: absolute;
    top: 0;
    left: -1%;
    right: -1%;
    height: 105%;
    background-color: rgba(176, 2, 2, 0.8); 
    pointer-events: none;  
    border: 2px solid black;
    border-bottom-right-radius: 20px;   
    border-bottom-left-radius: 20px;
    opacity: 1;
    z-index: 2;
    overflow: hidden;
}

div#display-slot {
    position: absolute;
    top: 0;
    left: -1%;
    right: -1%;
    height: 105%;
    background-color: ; 
    pointer-events: none;  
    border: 1px solid black;
    border-bottom-right-radius: 20px;   
    border-bottom-left-radius: 20px;
    opacity: 1;
    z-index: 0;
    overflow: hidden;
}

#display-cover p {
    display: flex;
    /* flex-direction: column; */
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100%;
    font-family: cursive;
    font-size: 34pt;
}

div#display-cover.animate.closed {
    opacity: 1;
    pointer-events: auto;
    animation: 2s linear coverClosing forwards;   
}

div#display-cover.animate.opened {
    opacity: 0;
    pointer-events: auto;
    animation: 2s linear coverOpening forwards;
}

div#display-cover.animate.closed p {
    animation: textSlideDown 1.8s linear forwards;
}

div#display-cover.animate.opened p {
    animation: textSlideUp 1.8s linear forwards;
}


div#display p {
    margin: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

button {
    font-size: 42pt;
    padding: 10px 0 10px 0;
    margin: 10px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 80px 80px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 20px;
    justify-content: center;
}


/* #firstRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#secondRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#thirdRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fourthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fifthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    align-items: center;
    justify-content: flex-end;
} */