body {
    font-family: "Monaco", sans-serif;
    display:flex;
    flex-direction: column;
    flex:1;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#title p {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#rubber-grip-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    width: 25px;
    height: 870px;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;

}

#rubber-grip-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    width: 25px;
    height: 875px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

.rubber-grip-top, .rubber-grip-bottom {
    height: 10%;
}

.rubber-grip-mid {
    height: 80%;
}

#flip-top-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
    height: 25px;
    padding-top: 25px;
}

#flip-top-button {
    align-items: center;
    display: block;
    line-height: 0;
    font-size: 1;
    margin: 0 45px 30px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: min-content;
}

.open {
    background-image: url("./images/flip-top-open.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.closed {
    background-image: url("./images/flip-top-closed.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#calc-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 875px;
    background-color: rgb(176, 2, 2);

}

div#display {
    display: flex;
    flex: 1;
    justify-content: right;
    font-size: 62pt;
    width: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 110px;
    background-color:rgb(164, 164, 164);
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px 20px;
}

div#display p {
    margin: 10px 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

button {
    font-size: 42pt;
    padding: 10px 0 10px 0;
    margin: 10px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 80px 80px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 20px;
    justify-content: center;
}


/* #firstRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#secondRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#thirdRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fourthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#fifthRow {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    align-items: center;
    justify-content: flex-end;
} */